<h1>Описание схемы проезда</h1>
<p>Парковка расположена в шаговой доступности от терминала.</p>
<p>При подъезде к аэропорту на развилке держаться левее. После развилки повернуть направо на первом же повороте. Для наглядности приведена схема проезда. Сразу за поворотом находится КПП - въезд на территорию парковки. Внимание: движение одностороннее!</p>

<%= image_tag "shema.png" %>  
